* {
  margin: 0px;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#canvas {
  display: none;
  }

#startbutton {
  position: absolute;
  width: 100px;
  height: 25px;
  bottom: 30px;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

.input {
  position: relative;
}
